* {
    box-sizing: border-box;
    margin: 10 ;
    padding: 10 ;
    box-sizing: border-box;
}

/* made a brief css style, will make adjustments once sure whether to edit .js or .html tags accordingly */